<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">

    <script>
	    $(function() {
	      $.ajax({
          url: '/getTeam',
          type: 'GET',
          data: {"team_id": {{team_id}}},
          success: function(res) {
          	
            var tr = $('<tr>').attr('class', 'list-group')
				        .append($('<th>').attr('class', 'list-group-item-heading'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'),
			          				$('<td>').attr('class', 'list-group-item-text'));

				    var img = $('<img>').attr('src', '/');
							    
				
						var teamObj = JSON.parse(res);

						var team = '';
				
						$.each(teamObj,function(index, value){
							img = $(img).clone();
							$(img).prop('src', '../static/img/' + value.img);
							$('.team-img').append(img);
						});


          },
          error: function(error) {
            console.log(error);
          }
      });
      $.ajax({
      	url: '/getstaffs',
        type: 'GET',
        data: {"team_id": {{team_id}}},
        success: function(res) {
          var tr = $('<tr>').attr('class', 'list-group')
			        .append($('<th>').attr('class', 'list-group-item-heading'),
		          				$('<td>').attr('class', 'list-group-item-text'),
		          				$('<td>').attr('class', 'list-group-item-text'),
		          				$('<td>').attr('class', 'list-group-item-text'));
						    
			
			
					var staffObj = JSON.parse(res);
					var staff = '';
			
					$.each(staffObj,function(index, value){
						staff = $(tr).clone();
						$(staff).find('th').text(value.name);
						$(staff).find('td').eq(0).text(value.num);
						$(staff).find('td').eq(1).text(value.year);
						$(staff).find('td').eq(2).text(value.job);
						$('.jumbotron').append(staff);
					});
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
		</script>
 
 
</head>
 
<body>
	<a href="showteam?team_id={{team_id}}">
		<div class="team-img">
		</div>
	</a>

	<div class="site-list">
		<a href="/showstaff?team_id={{team_id}}">코치</a>
		<a href="/showbatter?team_id={{team_id}}">타자</a>
		<a href="/showpitcher?team_id={{team_id}}">투수</a>
		<a href="/showballpark?team_id={{team_id}}">구장</a>
	</div>
 
  <table class="type11" border="1" cellpadding="10px">
  	<thead>
    	<tr class="list-group">
			    <td class="list-group-item-text">name</td>
			    <td class="list-group-item-text">num</td>
			    <td class="list-group-item-text">year</td>
			    <td class="list-group-item-text">job</td>
			</tr> 
		</thead>
  	<tbody class="jumbotron">
  	</tbody>



  </table>


  <footer class="footer">
      <p>&copy; Company 2015</p>
  </footer>
</body>
 
</html>
